<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partial/_header.ejs %>
  <% if(user) { %>
    <% for(let shortUrl in urls) { %>
    <form method="POST" action="/urls/<%= shortUrl %>/delete">
      <a href="<%= urls[shortUrl]['longUrl'] %>"> <%= shortUrl %> </a> -
      <%= urls[shortUrl]['longUrl'] %>
      <a href="/urls/<%= shortUrl %>"> Edit</a>
      <button type="Submit" method="POST">Delete</button>
    </form>
    <% } %>
    <a href="urls/new">New </a>
    <br />
  <% } else { %>
    <h2>Please login</h2>
  <% } %>
</body>
</html>